body {
    background-color:blue;
}

#franklin_example {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#verdana_example {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
  position: relative;
  text-align: center;
}

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Arial, Helvetica, sans-serif;
}

